/* -------------------------
   GENERAL LAYOUT
--------------------------*/
.root {
    -fx-background-color: #181B9C;
    -fx-padding: 10;
    -fx-font-family: "Segoe UI", sans-serif;
    -fx-font-size: 14px;
}

/* -------------------------
   TEXT AREA
--------------------------*/
.text-area {
    -fx-text-fill: #181B9C;
    -fx-font-family: "Consolas", monospace; /* nicer for text game */
}

/* -------------------------
   TEXT FIELD
--------------------------*/
.text-field {
    -fx-background-color: #F0D232;
    -fx-text-fill: #181B9C;
    -fx-prompt-text-fill: #605B56;
    -fx-border-color: #F0D232;
    -fx-border-width: 0.1;
    -fx-border-radius: 4;
    -fx-background-radius: 4;
    -fx-padding: 4 6 4 6;
}

/* -------------------------
   BUTTONS
--------------------------*/
.button {
    -fx-background-color: #F0D232;
    -fx-text-fill: #181B9C;
    -fx-border-radius: 4;
    -fx-background-radius: 4;
    -fx-padding: 6 12 6 12;
}

.button:hover {
    -fx-background-color: #ad9a09;
}
